In [ ]:
import pandas as pd
import numpy as np
import os

In [3]:
ruta = "/home/nicolas/Escritorio/Diplomado en Ciencia de Datos/Modulo1/EcoBici Ciudad de Mexico/"+"all_data.csv"

In [4]:
num_rows = 0                                                         #Obtener el numero total de filas en el csv
for row in open(ruta):
    num_rows += 1
print(num_rows)

9965028

In [9]:
import pandas as pd
infile = ruta
columnas = pd.read_csv(infile, skiprows = 0, nrows=0)                 #Los nombres de las columnas
df = pd.read_csv(infile, skiprows = 0, nrows=3000000)                 #Lee las primeras 3 millones filas del csv
df.shape

/tmp/ipykernel_8476/3384377000.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(infile, skiprows = 0, nrows=3000000)                 #Lee las primeras 3 millones filas del csv

(3000000, 16)

In [10]:
temp = pd.read_csv(infile, skiprows = 3000000, nrows=3000000)    #Ignorar las primeras 8,000,000 filas y lee las siguientes 8,000,000
temp.columns = df.columns                                        #Renombrar las columnas del dataframe
temp.shape

/tmp/ipykernel_8476/3627623694.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(infile, skiprows = 3000000, nrows=3000000)    #Ignorar las primeras 8,000,000 filas y lee las siguientes 8,000,000

(3000000, 16)

In [11]:
df = pd.concat([df,temp])                                        #Concatenar
del temp                                                         #Eliminar dataframe
df.shape

(6000000, 16)

In [12]:
temp = pd.read_csv(infile, skiprows = 6000000)                    #Ignorar las primeras 6 millones de filas y lee las siguientes 5,000,000
temp.columns = df.columns                                         #Renombrar las columnas del dataframe
temp.shape

/tmp/ipykernel_8476/1540261814.py:1: DtypeWarning: Columns (1,3,5,6,8,9,11,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(infile, skiprows = 6000000)                    #Ignorar las primeras 6 millones de filas y lee las siguientes 5,000,000

(3965022, 16)

In [13]:
df = pd.concat([df,temp])                                        #Concatenar
del temp                                                         #Eliminar dataframe
df.shape

(9965022, 16)

In [14]:
df.shape

(9965022, 16)

In [17]:
df.head(4)

,Unnamed: 0,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo,BikeID,v�sp �crrOU,Ciclo_EstacionArribo,Fecha Arribo,Hora Arribo,Hora_Retiro.1
0,0,F,32.0,11584,452.0,01/07/2019,0:01:35,312.0,01/07/2019,0:29:28,NaN,NaN,NaN,NaN,NaN,NaN
1,1,M,19.0,10219,136.0,01/07/2019,0:02:47,133.0,01/07/2019,0:13:35,NaN,NaN,NaN,NaN,NaN,NaN
2,2,M,28.0,11496,180.0,01/07/2019,0:02:54,348.0,01/07/2019,0:13:58,NaN,NaN,NaN,NaN,NaN,NaN
3,3,M,44.0,11948,181.0,01/07/2019,0:03:01,291.0,01/07/2019,0:39:25,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.columns

Index(['Unnamed: 0', 'Genero_Usuario', 'Edad_Usuario', 'Bici',
       'Ciclo_Estacion_Retiro', 'Fecha_Retiro', 'Hora_Retiro',
       'Ciclo_Estacion_Arribo', 'Fecha_Arribo', 'Hora_Arribo', 'BikeID',
       'v�sp
�crrOU', 'Ciclo_EstacionArribo', 'Fecha Arribo', 'Hora Arribo',
       'Hora_Retiro.1'],
      dtype='object')

In [20]:
faltantes = df.isna().sum()
faltantes

Unnamed: 0                     0
Genero_Usuario            319992
Edad_Usuario               54144
Bici                       54144
Ciclo_Estacion_Retiro      54144
Fecha_Retiro               54144
Hora_Retiro                54144
Ciclo_Estacion_Arribo    1499318
Fecha_Arribo             1499318
Hora_Arribo              1499318
BikeID                   9698084
v�sp
�crrOU              9910923
Ciclo_EstacionArribo     8519803
Fecha Arribo             8519803
Hora Arribo              8885799
Hora_Retiro.1            9599026
dtype: int64

In [31]:
100*faltantes/df.shape[0]                       #Porcentaje de valores faltantes
                                                #Notemos que la ultimas 6 columnas tienen mas del 85 % de valores nulos.

Unnamed: 0                0.000000
Genero_Usuario            3.211152
Edad_Usuario              0.543340
Bici                      0.543340
Ciclo_Estacion_Retiro     0.543340
Fecha_Retiro              0.543340
Hora_Retiro               0.543340
Ciclo_Estacion_Arribo    15.045807
Fecha_Arribo             15.045807
Hora_Arribo              15.045807
BikeID                   97.321250
v�sp
�crrOU              99.457111
Ciclo_EstacionArribo     85.497082
Fecha Arribo             85.497082
Hora Arribo              89.169888
Hora_Retiro.1            96.327193
dtype: float64

In [33]:
import matplotlib.pyplot as plt

In [37]:
df["Genero_Usuario"].value_counts()

M    7090964
F    2554066
Name: Genero_Usuario, dtype: int64